@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 395px;
}

footer.footer{
    padding: 15px;
    position : absolute;
    bottom: 0;
    width: 100%;
}

.header-scene {
  background-image: url(../images/bg_header.jpg);
  background-size: cover;

  .header-scene-content {
    height: auto;
  }

  .logo{
    height: 95%;
    width: auto;
  }
}

.hero-scene {
  position: relative;
  &::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/fondHeroScene.jpg);
    background-size: cover;
  }

  * {
    //Positionner les éléments devant le ::before
    position: relative;
  }

  .hero-scene-content {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h2 {
      margin-bottom: 1.5rem;
      font-size: 3.5rem;
    }

    h2.bienvenue {
        margin-top: 2rem;
      }

    h1 {
      font-family: $font-family-serif;
      font-size: 9rem;
      margin-bottom: 2rem;
    }
  }
}




/*Portable*/
@media screen and (max-width: 600px) {
  html {
    font-size: 0.7em;
  }
  header {
    font-size: 0.8em;
  }
  
}
